.axis {
    -fx-font-size: 13pt;
}

.container {
	-fx-background-color:  white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-alignment: CENTER;
}

.chart-plot-background {
    -fx-background-color: white;
}

.chart-vertical-grid-lines {
    visibility: false;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #DDD;
}

.button {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-text-fill: #f86a56;
    -fx-font-size: 24;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.button:hover{
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
}
.button:pressed {
    -fx-background-color: #e9c4bc;
    -fx-border-color: #e9c4bc;
}

.button:disabled{
    -fx-background-color: white;
    -fx-border-color: #333;
    -fx-border-width: 2;
    -fx-text-fill: #333;
    -fx-effect: none;
}

