.default-color0.chart-bar, .default-color2.chart-bar, .default-color4.chart-bar,
.default-color6.chart-bar, .default-color8.chart-bar {
    -fx-bar-fill: rgba(255, 255, 255, 0);
}

.default-color1.chart-bar, .default-color3.chart-bar, .default-color5.chart-bar,
.default-color7.chart-bar, .default-color9.chart-bar {
    -fx-bar-fill: #e9c4bc;
}

.axis {
    -fx-font-size: 13pt;
}

.container {
	-fx-background-color:  white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-alignment: CENTER;
}

.chart-plot-background {
    -fx-background-color: white;
}

.chart-vertical-grid-lines {
    visibility: false;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #DDD;
}