.default-color0.chart-bar, .default-color2.chart-bar, .default-color4.chart-bar,
.default-color6.chart-bar, .default-color8.chart-bar {
    -fx-bar-fill: rgba(255, 255, 255, 0);
}

.default-color1.chart-bar, .default-color3.chart-bar, .default-color5.chart-bar,
.default-color7.chart-bar, .default-color9.chart-bar {
    -fx-bar-fill: #e9c4bc;
}

.axis {
    -fx-font-size: 13pt;
}